// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables.scss";

// Import Bootstrap
@import "~bootstrap/scss/bootstrap";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";
@import "navs.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";

.w-24{
    width: 24%;
}
.w-40{
    width: 35%;
}
.w-90{
    width: 85%;
}
.m-l-1 {
    margin-left: 1%;
}
.input-focus_{
    outline: none;
}
.ml-per-15{
    margin-left: 15%;
}

//new color variables
// balloon colors

$red-Orig: #fa0000 !default;
$blue-Orig: #0036fa !default;
$green-Orig: #007a1d !default;
$light-green-Orig: #73ff00 !default;
$white-Orig: #c7c7c7 !default;

.color-red{
    color: $red-Orig;
}
.color-blue{
    color: $blue-Orig;
}
.color-green{
    color: $green-Orig;
}
.color-light-green{
    color: $light-green-Orig;
}
.color-pink{
    color: $pink;
}
.color-yellow{
    color: $yellow;
}
.color-white{
    color: $white-Orig;
}
.color-violet{
    color: $purple;
}
.color-orange{
    color: $orange;
}
.color-black{
    color: $black;
}

.border-bottom-red{
    border-bottom: 0.25rem solid $red-Orig;
}
.border-bottom-green{
    border-bottom: 0.25rem solid $green-Orig;
}

.clickable{
    cursor: pointer;
}
.searchResult{
    border: 1px solid $success;
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 97%;
}
.parent-border {
    border: 1px solid #e3e6f0;
}

.list-modal {
    max-width: 800px;
}

.span-button {
    display: none;
}

@media screen and (min-width: 800px) {
    .span-button {
        display: inline;
    }
}
